<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Shared/main_layout}">
<head>
    <meta charset="UTF-8">
    <title>Congratulations!</title>
</head>
<body>
<div layout:fragment="content">
    <h1 class="text-center" style="margin-top:150px">
        <center>
            <h3>Congratulations! Your account has been activated and email is verified! now login with your verified account</h3>
        </center>
    </h1>
</div>
</body>
</html>