<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{Shared/main_layout}">
<head>
    <meta charset="utf-8" />
    <title>Inventory Order Page</title>
</head>
<body>
<div layout:fragment="content" align="center">
    <h1>Add Inventory Order</h1>
    <br />
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form action="#" th:action="@{/car/saveInventoryOrder}" th:object="${inventoryOrder}"
                  method="post">
                <div class="row">
                    <div class="col-md-3">
                        <label class="control-label">Content:</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <input type="text" class="form-control" th:field="*{content}"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label class="control-label">Email:</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <input type="email" class="form-control" th:field="*{email}"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label class="control-label">Date:</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <input type="text" placeholder="ex : 2013-05-13" required class="form-control" th:field="*{date}"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary"> Add</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</body>
</html>